<div id="dialog-message">
	<div class="panel warning-modal">
		<div class="panel-header">Question has not been answered</div>
		<div class="panel-body">
			<p>Please select an answer before continuing.</p>
			<i class="fa fa-close modal-close"></i>
		</div>
	</div>
</div>
<div class="qnav">
	<div class="row">
		<div class="column">
			<div class="qnav-body">
				<div class="qnav-pg">
					<div class="qnav-hd"> Question #: </div>
					<ul>
						<li id="family-link" class="progress progress-current"><span>1</span></li>
						<li id="useful-link" class="progress"><span>2</span></li>
						<li id="timing-link" class="progress"><span>3</span></li>
						<li id="pros-link" class="progress"><span>4</span></li>
					</ul>
				</div>
				<div class="qnav-inst">
					<div class="qnav-hd">Instructions:</div>
					<div class="qnav-content">
						First, fully consider the information below. 
						<span>Then, at the end,</span> submit your answer.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="familyriskspage">
	<div class="row">
		<div class="column">
			<h1> Does my <strong>family history</strong> put me at a higher&nbsp;risk for Alzheimer&rsquo;s Disease than other&nbsp;people? </h1>
			<p>Genetic testing is usually considered when a person might be at higher risk for a particular condition. Here we help you explore whether you may be at greater risk of getting late-onset Alzheimer&rsquo;s Disease, the form which affects older people, based on your family history.</p>
			<h2>Everyone is at risk</h2>
			<p>On average about 1 out of every 100 people will develop Alzheimer&rsquo;s by the time they turn 70. By 85, the risk is about 10 out of every 100 people.</p>
			<h3>Probability of having Alzheimer&rsquo;s disease (or not) by ages <span class="segment"> 70 
					and 85.
			</span>  </h3>
			<p>The purple parts of each bar show the chance of developing Alzheimer&rsquo;s
				<br>
				The gray parts of each bar show the chance of not developing Alzheimer&rsquo;s</p>
		</div>
	</div>


	<div class="chart-family">
		<div class="column">
			<ul>
				<li>
					<table class="chart general">
						<tr class="chart-head">
							<td colspan="2">
								Risk for the <span>General Population</span>
							</td>
						</tr>
						<tr class="chart-main">
							<td><div class="age-70"></div></td>
							<td><div class="age-85"></div></td>
						</tr>
						<tr class="ages">
							<td> <i>by Age</i> <b>70</b> </td> 
							<td> <i>by Age</i> <b>85</b> </td> 
						</tr>
					</table>
				</li>
				<li>
					<table class="chart with-1-copy">
						<tr class="chart-head">
							<td colspan="2">
								Risk if a close family member had Alzheimer's
							</td>
						</tr>
						<tr class="chart-main">
							<td><div class="age-70"></div></td>
							<td><div class="age-85"></div></td>
						</tr>
						<tr class="ages">
							<td> <i>by Age</i> <b>70</b> </td> 
							<td> <i>by Age</i> <b>85</b> </td> 
						</tr>
					</table>
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="column">
	

			<h3>
				A family history of Alzheimer&rsquo;s may increase your&nbsp;risk
			</h3>
			<p>If any of your parents, brothers or sisters have been diagnosed with Alzheimer&rsquo;s disease, your chance of developing this disorder increases by as much as two or three times.</p>
			
			<hr />
			<div class="panel">
				<div class="panel-header">Limitations to what you can <span class="segment">
						learn from family history:
				</span></div>
				<div class="panel-body">
					<ul>
						<li>Alzheimer&rsquo;s Disease is hard to diagnose and may have been misdiagnosed in your family member.</li>
						<li>Dementia can arise from many causes, only one of which is Alzheimer&rsquo;s.</li>
						<li>Non-inherited factors such as head injuries and things that raise your risk for heart disease &mdash; such as smoking, obesity, poorly controlled diabetes, lack of exercise, and high blood pressure &mdash; may be involved. We don&rsquo;t understand all the non-inherited factors that influence one&rsquo;s risk for Alzheimer&rsquo;s.</li>
					</ul>
				</div>
			</div>
			<h2>Gather your <span class="segment">
					family history
			</span></h2>
			<p>To determine if your family history may put you at higher risk, you need to know if anyone in your immediate family (parents, brothers and sisters) has or had late onset Alzheimer&rsquo;s.</p>
			<p>Once you know your family history please answer the following questions.</p>
			<p><span class="red">Note:</span> If you are adopted or otherwise unable to obtain your family history, this question may not apply to your final decision, but you can select “I am unsure of my family history” below.</p>
			<p class="further-resources-link">
				<%= link_to "Further Resources about Family History", further_resources_path(anchor: "family-hist"), target: "blank" %>
			</p>
			<a name="question"></a>
			<hr />
			<div class="question">
				<div class="question-header">
					Submit Your Answer Below:
				</div>
				<div class="question-body">
					<h1>
						Does my family history put me at a higher&nbsp;risk for Alzheimer&rsquo;s Disease than other&nbsp;people?
					</h1>
					<form action="<%= useful_path %>" method="get" id="question_form">
						<label>
							<%= radio_button_tag( :family_risks, 'yes', checked = false, class: "check-box")%>
							<span> My family history indicates I may have a higher risk of getting Alzheimer&rsquo;s Disease.	</span>
						</label>
						<label>
							<%= radio_button_tag( :family_risks, 'no', checked = false, class: "check-box")%>
							<span> My family history does not indicate that I have a higher risk of getting Alzheimer&rsquo;s Disease.	</span>
						</label>
						<label>
							<%= radio_button_tag( :family_risks, 'unsure', checked = false, class: "check-box")%>
							<span> I am unsure of my family history.	</span>
						</label>
						<label>
							<%= radio_button_tag( :family_risks, 'concerned', checked = false, class: "check-box")%>
							<span> Regardless of my family history, I am very concerned about Alzheimer&rsquo;s Disease.	</span>
						</label>
						<div class="button-area"> <a href="<%= useful_path %>"><%= button_tag "Next", id: "next-button"%></a> </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		
		if (localStorage.getItem('family_risks') !== null && localStorage.getItem('family_risks') !== 'null'){
			$('#useful-link').html('<a href="/is_the_information_useful">2</a>')
			$('input[name="family_risks"][value=' + localStorage.getItem('family_risks') + ']').prop('checked', 'checked'); 
		}
		
		if (localStorage.getItem('useful') !== null && localStorage.getItem('useful') !== 'null'){
			$('#timing-link').html('<a href="/is_the_timing_right">3</a>')
		}

		if (localStorage.getItem('timing') !== null && localStorage.getItem('timing') !== 'null'){
			$('#pros-link').html('<a href="/pros_and_cons">4</a>')
		}

	});
</script>