<div class="main-body">
	<h1>Will the genetic test give me <strong>useful information</strong>?</h1>
	<div class="instructions">
		<span>
			First, <i> fully consider </i> the information below.
			<span class="segment"> Then, at the end, </span> </span> <a href="#question"> submit your answer</a>.
	</div>
	<p>The test for the gene related to Alzheimer&rsquo;s can usually tell you if you are more likely than others to develop Alzheimer&rsquo;s Disease. The test may detect if you have an increased chance of getting the disease, <strong>but it cannot predict whether you will get the disease</strong> &mdash;  <strong>or whether you won&rsquo;t</strong>. In this section we explain the test and what you can learn from it.</p>
	<h2>About Gene Tests</h2>
	<p>In general genetic tests look for variations in genes that, when present, can lead to an illness or raise one&rsquo;s chances of developing an illness. Genetic tests are done on small amounts of saliva or blood or by swabbing the inside of the mouth.</p>
	<h3>Alzheimer&rsquo;s and the APOE&nbsp;Gene</h3>
	<p>Alzheimer&rsquo;s disease can be caused by genes, non-inherited factors, or some combination of both. There is one gene that has been associated with late-onset Alzheimer&rsquo;s disease. It is called the Apolipoprotein E gene – or APOE for short.</p>
	<p>The APOE gene has three forms: e2, e3, and e4. The e4 form is the one which is associated with a higher risk of Alzheimer&rsquo;s disease. The genetic test can tell which form or forms of the gene are present. A person can have zero, one or two e4 genes.</p>
	<p>If you have one copy of the e4 gene, the risk for developing Alzheimer&rsquo;s disease increases and two copies makes the risk higher. Research is ongoing so we don&rsquo;t know the exact increased risk but currently, it is believed to be as follows.</p>
	<h2>Table – Risk of Developing Alzheimer&rsquo;s Disease</h2>
	<p>The percentages indicate the chance of having Alzheimer&rsquo;s by ages 65, 75 and 85 based on the number of APOE e4 genes</p>

	<div class="charts-combined">
		<div class="chart-section">
			<div class="chart-h2">Risk of developing Alzheimer&rsquo;s for <div class="segment"> <span class="purple">general population</span> </div></div>
			<ul>
				<li><img src="http://nphillips.com/2015-09-14-sitemock03/img/chart01/general-1-sm.png" class="sm" />
					<img src="http://nphillips.com/2015-09-14-sitemock03/img/chart01/general-1.png" class="bg" /></li>
				<li><img src="http://nphillips.com/2015-09-14-sitemock03/img/chart01/general-2-sm.png" class="sm" />
					<img src="http://nphillips.com/2015-09-14-sitemock03/img/chart01/general-2.png" class="bg" /></li>
				<li><img src="http://nphillips.com/2015-09-14-sitemock03/img/chart01/general-3-sm.png" class="sm" />
					<img src="http://nphillips.com/2015-09-14-sitemock03/img/chart01/general-3.png" class="bg" /></li>
			</ul>
		</div>

		<div class="chart-section">
			<div class="chart-h2">Risk of developing Alzheimer&rsquo;s for people with <div class="segment"><span class="purple">one copy</span> of the APOE e4 Gene </div></div> 
			<ul>
				<li><img src="http://nphillips.com/2015-09-14-sitemock03/img/chart01/one-copy-1-sm.png" class="sm" />
					<img src="http://nphillips.com/2015-09-14-sitemock03/img/chart01/one-copy-1.png" class="bg" /></li>
				<li><img src="http://nphillips.com/2015-09-14-sitemock03/img/chart01/one-copy-2-sm.png" class="sm" />
					<img src="http://nphillips.com/2015-09-14-sitemock03/img/chart01/one-copy-2.png" class="bg" /></li>
				<li><img src="http://nphillips.com/2015-09-14-sitemock03/img/chart01/one-copy-3-sm.png" class="sm" />
					<img src="http://nphillips.com/2015-09-14-sitemock03/img/chart01/one-copy-3.png" class="bg" /></li>
			</ul>
		</div>

		<div class="chart-section">
			<div class="chart-h2">Risk of developing Alzheimer&rsquo;s for people with <div class="segment"> <span class="purple">two copies</span> of the APOE e4 Gene
			</div></div>
			<ul>
				<li><img src="http://nphillips.com/2015-09-14-sitemock03/img/chart01/two-copies-1-sm.png" class="sm" />
					<img src="http://nphillips.com/2015-09-14-sitemock03/img/chart01/two-copies-1.png" class="bg" /></li>
				<li><img src="http://nphillips.com/2015-09-14-sitemock03/img/chart01/two-copies-2-sm.png" class="sm" />
					<img src="http://nphillips.com/2015-09-14-sitemock03/img/chart01/two-copies-2.png" class="bg" /></li>
				<li><img src="http://nphillips.com/2015-09-14-sitemock03/img/chart01/two-copies-3-sm.png" class="sm" />
					<img src="http://nphillips.com/2015-09-14-sitemock03/img/chart01/two-copies-3.png" class="bg" /></li>
			</ul>
		</div>

	</div>

	<div class="caption">
		Studies vary and these numbers are estimates. Women tend to be at the higher end of the ranges given. Preliminary studies of African Americans suggest that their risk is somewhat higher.
	</div>
	<h2>The Gene Test Does Not Offer 100% Certainty</h2>
	<p>If the e4 gene is present, a person&rsquo;s risk goes up - but never to 100%.</p>

	<div class="panel">
		<div class="panel-header">
			It&rsquo;s important to keep in mind that:
		</div>
		<div class="panel-body">
			<ul>
				<li>
					Some people who have the e4 gene will not develop Alzheimer&rsquo;s disease.
				</li>
				<li>Some people who do not have the e4 gene will develop Alzheimer&rsquo;s disease.</li>
				<li>Researchers believe there are additional genes associated with Alzheimer&rsquo;s that we have not yet identified.</li>
			</ul>
		</div>
	</div>

	<a name="question"></a>

	<hr />
	<div class="question">
		<div class="question-header">
			Submit Your Answer Below:
		</div>
		<div class="question-body">
			<h1>
				Will the genetic test give me useful information?
			</h1>



			<form action="<%= timing_path %>" method="get">
				<label>
					<%= radio_button_tag :useful, 'yes'%>
					<span>
						I realize there are limits to what a test will tell me but I think the information will help me.
					</span>
				</label>
				<label>
					<%= radio_button_tag :useful, 'no'%>
					<span>
						I don't think the genetic test will give me enough useful information.
					</span>
				</label>
				<label>
					<%= radio_button_tag :useful, 'unsure'%>
					<span>
						I'm not sure if a test would be useful or not for me.
					</span>
				</label>
				<div class="button-area"> <a href="<%= timing_path %>"><%= button_tag "Next", :name => nil %></a> </div>
			</form>




		</div>
	</div>

</div>

<script type="text/javascript">
	if (localStorage) {
	  // LocalStorage is supported!
	  // save our user's answer to local storage
	  $( "button[type='submit']" ).click(function() {
		  localStorage.setItem('useful', $('input:checked').val());
		});
	} else {
	  // No support. Use a fallback such as browser cookies or store on the server.
	}
</script>




