<div id="dialog-message">
	<div class="panel warning-modal">
		<div class="panel-header">Question has not been answered</div>
		<div class="panel-body">
				<p>Please select an answer before continuing.</p>
				 <i class="fa fa-close modal-close"></i>
		</div>
	</div>
</div>

<div class="qnav">
	<div class="qnav-questions">
		<div class="qnav-label"> Questions </div>
		<div class="qnav-numbers">
			<ul>
				<li id="family-link" class="progress"><a href="/family_risks">1</a></li>
				<li id="useful-link" class="progress"><a href="/is_the_information_useful">2</a></li>
				<li id="timing-link" class="progress progress-current"><span>3</span></li>
				<li id="pros-link" class="progress"><span>4</span></li>
				<li id="my-results" class="my-results"></li>
				
			</ul>
		</div>
	</div>
</div>
<div class="qnav-inst">
<div class="row">
	<div class="column">
		<div class="panel">
		<div class="qnav-hd panel-header">Instructions:</div>
		<div class="qnav-content panel-body like-list">

			<p>
				First, consider the information below. 


				Then, at the end, submit your answer.
			</p>
		</div>
	</div>
	</div>
</div>
</div>
<div class="timingpage">
	<div class="row">
		<div class="column">

			<h1><strong>Is this the right time in my life</strong> to take this&nbsp;test?</h1>
			
			<p>Because late-onset Alzheimer&rsquo;s tends to occur much later in life, <strong>for most of us genetic testing for susceptibility to it is not urgent</strong>.</p>
			<h2>For Adults to Consider</h2>
			<p>Many adults who have considered genetic testing say it is best to make a genetic testing decision when things are calm enough in your life so you have time to think it through. It can be difficult to think about the future when things are hectic. It&rsquo;s important to be emotionally prepared to deal with any feelings that may arise after testing. If you plan to get tested with family members or share your results with family members, it&rsquo;s important for everyone to be prepared. It can take time for everyone to be comfortable with the process.</p>
			<h2>Children Should Wait to Get Tested</h2>
			<p>In general, children should not have genetic testing for diseases that can happen later in life unless there is a medical benefit for them. Currently, there is no known medical benefit to children from having APOE testing. The consensus among doctors and genetic counselors is that parents should wait until their children are adults and can weigh the pros and cons to decide for themselves.</p>
			<p class="further-resources-link">
				<%= link_to "Further Resources to Consider Timing of Genetic Testing", further_resources_path(anchor: "timing"), target: "blank" %>
			</p>
			<div class="question">
				<div class="question-header">
					Submit Your Answer Below:
				</div>
				<div class="question-body">
					<h1>
						Is this the right time in my life to take this test?
					</h1>
					<form action="<%= pros_and_cons_path %>" method="get">
						<label>
							<%= radio_button_tag( :timing, 'yes', checked = false, class: "check-box")%>
							<span>
								I feel that now could be a good time to get tested.
							</span>
						</label>
						<label>
							<%= radio_button_tag( :timing, 'no', checked = false, class: "check-box")%>
							<span>
								This is not the right time for me to get tested.
							</span>
						</label>
						<label>
							<%= radio_button_tag( :timing, 'unsure', checked = false, class: "check-box")%>
							<span>
								I'm not sure if this is the right time to get tested.
							</span>
						</label>
						<div class="button-area"> <a href="<%= pros_and_cons_path %>"><%= button_tag "Next", id: "next-button"%></a> </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		
		setTimeout(function() {
			$('#family-link a').effect("highlight",{color: 'PowderBlue'}, 2000)
		}, 200);

		setTimeout(function() {
			$('#useful-link a').effect("highlight",{color: 'PowderBlue'}, 2000)
		}, 400);

		if (localStorage.getItem('timing') !== null && localStorage.getItem('timing') !== 'null'){
			$('#pros-link').html('<a href="/pros_and_cons">4</a>')
			$('input[name="timing"][value=' + localStorage.getItem('timing') + ']').prop('checked', 'checked'); 
			setTimeout(function() { 
				$('#pros-link a').effect("highlight",{color: 'PowderBlue'}, 2000);
			}, 800);
		}
		if (localStorage.getItem('pros_and_cons') !== null && localStorage.getItem('pros_and_cons') !== 'null'){
			$('#my-results').html('<a href="/results">My Results</a>')
			setTimeout(function() { 
				$('#my-results a').effect("highlight",{color: 'PowderBlue'}, 2000);
			}, 1000);
		}

	});
</script>
