<div class="main-body">


			<h1><strong>Is this the right time in my life</strong> to take this&nbsp;test?</h1>

			<div class="instructions">
				<span>
					First, <i> fully consider </i> the information below.
					<span class="segment"> Then, at the end, </span> </span> <a href="#question"> submit your answer</a>.
			</div>
			<p>Because late-onset Alzheimer&rsquo;s tends to occur much later in our lives, <strong>for most of us genetic testing for susceptibility to it is not urgent</strong>.</p>
			<h2>For Adults to Consider</h2>
			<p>Adults who have considered genetic testing say it is best to make a genetic testing decision when things are calm enough in your life so you have time to think it through. It can be difficult to think about the future when things are hectic. It&rsquo;s important to be emotionally prepared to deal with any feelings that may arise after testing. If you plan to get tested with family members or share your results with family members, it&rsquo;s important for everyone to be prepared. It can take a little time for everyone to be comfortable with the process.</p>
			<h2>Children Should Wait to Get Tested</h2>
			<p>In general, children should not have genetic testing for diseases that come on later in life unless there is a medical benefit for them. Currently, there is no known medical benefit to children from having APOE testing. The consensus among doctors and genetic counselors is that parents should wait until their children are adults and can decide for themselves, just as you are doing now.</p>
			

			<a name="question"></a>
			

			<hr />
			<div class="question">
				<div class="question-header">
					Submit Your Answer Below:
				</div>
				<div class="question-body">
					<h1>
						Is this the right time in my life to take this test?
					</h1>

					<form action="<%= pros_and_cons_path %>" method="get">
						<label>
							<%= radio_button_tag :timing, 'yes'%>
							<span>
								I feel this could be a good time to get tested.
							</span>
						</label>
						<label>
							<%= radio_button_tag :timing, 'no'%>
							<span>
								This is not the right time for me to get tested.
							</span>
						</label>
						<label>
							<%= radio_button_tag :timing, 'unsure'%>
							<span>
								I'm not sure if this is the right time to get tested.
							</span>
						</label>
						<div class="button-area"> <a href="<%= pros_and_cons_path %>"><%= button_tag "Next", :name => nil %></a> </div>
					</form>




					
				</div>
			</div>

		</div>

<script type="text/javascript">
	if (localStorage) {
	  // LocalStorage is supported!
	  // save our user's answer to local storage
	  $( "button[type='submit']" ).click(function() {
		  localStorage.setItem('timing', $('input:checked').val());
		});
	} else {
	  // No support. Use a fallback such as browser cookies or store on the server.
	}
</script>




