<div id="dialog-message">
	<div class="panel warning-modal">
		<div class="panel-header">Question has not been answered</div>
		<div class="panel-body">
			<p>Please select an answer before continuing.</p>
			<i class="fa fa-close modal-close"></i>
		</div>
	</div>
</div>
<div class="qnav">
	<div class="qnav-questions">
		<div class="qnav-label"> Questions </div>
		<div class="qnav-numbers">
			<ul>
				<li id="family-link" class="progress"><a href="/family_risks">1</a></li>
				<li id="useful-link" class="progress progress-current"><span>2</span></li>
				<li id="timing-link" class="progress"><span>3</span></li>
				<li id="pros-link" class="progress"><span>4</span></li>
				<li id="my-results" class="my-results"></li>
			</ul>
		</div>
	</div>
</div>
<div class="qnav-inst">
<div class="row">
	<div class="column">
		<div class="panel">
		<div class="qnav-hd panel-header">Instructions:</div>
		<div class="qnav-content panel-body like-list">

			<p>
				First, consider the information below. 
				Then, at the end, submit your answer.
			</p>
			<p>You must select an answer to each question to move ahead. Once you move ahead, you can return to an answered question by clicking the numbers above.</p>
		</div>
	</div>
	</div>
</div>
</div>
<div class="usefulpage">
	<div class="row">
		<div class="column">
			<h1>Will the genetic test give me <strong>useful information</strong>?</h1>
			<p>The test for the gene related to Alzheimer&rsquo;s disease can detect if you have an increased chance of getting the disease, <strong>but it cannot predict for sure if you will get the disease</strong> &mdash;  <strong>or if you won&rsquo;t</strong>.</p>
			<h3>About Gene Tests</h3>
			<p>In general, genetic tests look for variations in genes that, when present, can lead to an illness or raise one&rsquo;s chances of developing an illness. Genetic tests are done on small amounts of saliva or blood or by swabbing the inside of the mouth.</p>
			<h3>Alzheimer&rsquo;s and the APOE&nbsp;Gene</h3>
			<p>Alzheimer&rsquo;s disease can be caused by genes, non-inherited factors, or some combination of both. There is one gene that has been associated with late-onset Alzheimer&rsquo;s disease. It is called the Apolipoprotein E gene – or APOE for short.</p>
			<p>The APOE gene has three forms: e2, e3, and e4. The e4 form is the one which is associated with a higher risk of Alzheimer&rsquo;s disease. The genetic test can tell which form or forms of the gene are present. A person can have zero, one, or two copies of the e4 gene.</p>
			<p>If you have one copy of the e4 gene, the risk for developing Alzheimer&rsquo;s disease increases compared to other people and two copies makes the risk higher. Research is ongoing so we don&rsquo;t know the exact risk. The estimated risk is shown in the following figures.</p>
			<h3>Risk of Developing Alzheimer&rsquo;s disease</h3>
			<ul class="legend">
				<li class="legend-purple">
					The percentages and the purple parts of each bar indicate the chance of developing Alzheimer&rsquo;s by ages 65, 75 and 85 based on the number of APOE e4 genes. 
				</li>
				<li class="legend-gray">
					The gray parts of each bar indicate the chance of not developing Alzheimer&rsquo;s.
				</li>
			</ul>
		</div>
	</div>
	<div class="chart-risk">
		<div class="column">
			<ul>
				<li>
					<table class="chart general">
						<tr class="chart-head">
							<td colspan="3">
								General Population
							</td>
						</tr>
						<tr class="chart-main">
							<td><div class="age-65"></div></td>
							<td><div class="age-75"></div></td>
							<td><div class="age-85"></div></td>
						</tr>
						<tr class="ages">
							<td> <i>by Age</i> <b>65</b> </td> 
							<td> <i>by Age</i> <b>75</b> </td> 
							<td> <i>by Age</i> <b>85</b> </td> 
						</tr>
					</table>
				</li>
				<li>
					<table class="chart with-1-copy">
						<tr class="chart-head">
							<td colspan="3">
								With 1 copy of APOE e4 gene
							</td>
						</tr>
						<tr class="chart-main">
							<td><div class="age-65"></div></td>
							<td><div class="age-75"></div></td>
							<td><div class="age-85"></div></td>
						</tr>
						<tr class="ages">
							<td> <i>by Age</i> <b>65</b> </td> 
							<td> <i>by Age</i> <b>75</b> </td> 
							<td> <i>by Age</i> <b>85</b> </td> 
						</tr>
					</table>
				</li>
				<li>
					<table class="chart with-2-copies">
						<tr class="chart-head">
							<td colspan="3">
								With 2 copies of APOE e4 gene
							</td>
						</tr>
						<tr class="chart-main">
							<td><div class="age-65"></div></td>
							<td><div class="age-75"></div></td>
							<td><div class="age-85"></div></td>
						</tr>
						<tr class="ages">
							<td> <i>by Age</i> <b>65</b> </td> 
							<td> <i>by Age</i> <b>75</b> </td> 
							<td> <i>by Age</i> <b>85</b> </td> 
						</tr>
					</table>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="caption">
				Studies vary and these numbers are estimates. Women tend to be at the higher end of the ranges given. Preliminary studies of African Americans suggest that their risk may be somewhat higher.
			</div>
			<h2>The Gene Test Does Not Offer 100% Certainty</h2>
			<p>If the e4 gene is present, a person&rsquo;s risk goes up - but never to 100%.</p>
			<div class="panel">
				<div class="panel-header">
					It&rsquo;s important to keep in mind that:
				</div>
				<div class="panel-body">
					<ul>
						<li>
							Many people who have the e4 gene will not develop Alzheimer&rsquo;s disease.
						</li>
						<li>Many people who do not have the e4 gene will develop Alzheimer&rsquo;s disease.</li>
						<li>Researchers believe there may be additional genes associated with Alzheimer&rsquo;s that have not been identified yet.</li>
					</ul>
				</div>
			</div>
			<p><span class="red">Note:</span> The cost for the APOE gene test currently ranges from $100 to about $400, depending on the laboratory. For greatest accuracy, genetic testing should be done by a 
				<%= link_to "CLIA-certified laboratory", glossary_path(anchor: "clia-certified"), target: "blank" %>.</p>
			<p class="further-resources-link">
				To learn more about APOE Gene Tests <%= link_to "see Resources.", further_resources_path(anchor: "understanding"), target: "blank" %>
			</p>
			<div class="question">
				<div class="question-header">
					Submit Your Answer Below:
				</div>
				<div class="question-body">
					<h1>
						Will the genetic test give me useful information?
					</h1>
					<form action="<%= timing_path %>" method="get">
						<label>
							<%= radio_button_tag( :useful, 'yes', checked = false, class: "check-box")%>
							<span>
								I realize there are limits to what a test will tell me but I think the information could be useful.
							</span>
						</label>
						<label>
							<%= radio_button_tag( :useful, 'no', checked = false, class: "check-box")%>
							<span>
								I don't think the genetic test will give me enough useful information.
							</span>
						</label>
						<label>
							<%= radio_button_tag( :useful, 'unsure', checked = false, class: "check-box")%>
							<span>
								I'm not sure if a test would be useful or not for me.
							</span>
						</label>
						<div class="button-area"> <a href="<%= timing_path %>"><%= button_tag "Next", id: "next-button"%></a> </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){

		setTimeout(function() {
			$('#family-link a').effect("highlight",{color: 'PowderBlue'}, 2000)
		}, 200);

		if (localStorage.getItem('useful') !== null && localStorage.getItem('useful') !== 'null'){
			$('#timing-link').html('<a href="/is_the_timing_right">3</a>')
				$('input[name="useful"][value=' + localStorage.getItem('useful') + ']').prop('checked', 'checked'); 
				setTimeout(function() { 
					$('#timing-link a').effect("highlight",{color: 'PowderBlue'}, 2000);
				}, 600);
		}
		if (localStorage.getItem('timing') !== null && localStorage.getItem('timing') !== 'null'){
			$('#pros-link').html('<a href="/pros_and_cons">4</a>')
			setTimeout(function() { 
				$('#pros-link a').effect("highlight",{color: 'PowderBlue'}, 2000);
			}, 800);
		}
		if (localStorage.getItem('pros_and_cons') !== null && localStorage.getItem('pros_and_cons') !== 'null'){
			$('#my-results').html('<a href="/results">My Results</a>')
			setTimeout(function() { 
				$('#my-results a').effect("highlight",{color: 'PowderBlue'}, 2000);
			}, 1000);
		}
	});
</script>
