<% vid_codes = {"Sharon" => "eejiicmg1m", "Mark" => "fu240cdjke", "Mallory" => "1la8ncjki1", "Jennifer" => "diazvcjdw6", "Abby & Carol" => "22i7pt4sav", "Michael & Richard" => "vx5fmfb3mq"} %>

<div class="section-header-area">
	<div class="header">
		<div class="header-content">
			<div class="question-number"><span>Question 4</span></div>
			<h1>
				Will the advantages outweigh the disadvantages?
			</h1>
			<h2>
				Getting your genetic test results may have some advantages and also some disadvantages. Some are personal, others relate to our families and others involve social interactions beyond our families. We all have different values, beliefs, needs and circumstances.
			</h2>
		</div>
	</div>
</div>
<div class="wrap">
	<div class="content-area">
		<div class="maincol">
			<p>To work out which factors are most important to you, we have provided stories in video and text so you can learn what others can tell you from their experience.</p>
			<p>Each story is summarized below. Click the arrow to the left of the summary to read the text. <span class="highlight">Click the video thumbnail to watch the video.</span></p>
			<p>Note: The stories presented, while by actors, use the words of actual people considering whether to have genetic testing.</p>

			<!-- NICK - Not sure how we want to lay the following out just yet. -->

			<!-- <p>PRO: Personal (Sharon)

It can help me plan for my future.

“I could plan. It would prompt me to make plans to do a lot of things through my 50s and 60s, things I might postpone otherwise. I could make sure I had advance directives in place and thought about caregivers. It would make me kind of decide to hunker down and save -- and not count on working as long as I had thought I would work. I could look into any factors that might decrease my risk of Alzheimer’s, for example, perhaps by exercising and trying to eat healthy.”


CON: Personal (Mallory)

There is nothing I can do to prevent the disease

“I had genetic testing for my breast cancer risk because there was something I could do to lower my risk. The reason I won’t pursue genetic testing for Alzheimer’s, is because there really isn't any treatment or cure for it. Nothing to do to prevent it. The genetic information won’t be helpful to me.”


PRO: Personal (Mark)

I would be sure to stay up-to-date on new information

“If I were at higher risk, I would get much more serious about things that might help prevent Alzheimer’s. I could get on mailing lists for new information. I would become much more pro-active. I would make sure that I’m aware of diagnostic techniques, aware of preventive measures, aware of things I could change and had control over that would give me better odds for postponing or not getting dementia.”


CON: Personal (Jennifer)

Knowing I have the gene will make me worry too much

“Even though having that gene for higher risk doesn’t necessarily mean I’d get Alzheimer’s, I don’t want to spend my life waiting – tick tock, tick tock – for a time bomb to go off. Worrying when is it going to happen? Is it happening if I forget where I put the car keys? No, I’m not going to live that way. I don’t want to become a prisoner of fear.”



PRO: Family (Abby)

It’s important to me to know so I can share this health information with my family

“I think getting genetic testing is important so that the rest of my family can think about their health history in a more productive way. I want my children and grandchildren to be informed. I feel like if I can show them there is a genetic basis in our family, they might be more careful with their own health and that’s what’s important to me.”


CON: Family (Carol)

In some families this kind of information can lead to problems 

“What troubles me about having genetic testing is what if my sister and I have different results? I mean, what if my sister has the gene that raises her risk -- and I don’t. Could it create a wedge between us? How can I face her and her kids knowing that, somehow, I’ve been spared and she wasn’t? Even if she says it’s okay, I will feel terrible guilt. And I know in some families it leads to jealousy. Genetic testing just isn’t worth it if it alters our relationship.”


PRO: Social (Michael)

I could participate in research to help myself and others

“Genetic testing would help me become more active in Alzheimer’s research. If I knew I was more likely to get Alzheimer’s, I would get involved in research to help detect it early and find better ways to slow it down. Research could help with making the right diagnosis, finding the right treatments.”


Some people are motivated to get tested to help themselves and others. They see value in early and accurate diagnosis of Alzheimer’s. They are willing to participate in research and drug trials that might help many people.


CON: Social (Richard)

Genetic test results might affect my insurance* or medical privacy (even though there are some protections)

“I worry that genetic information could be like a red-flag for insurance purposes. Some companies might try to minimize costs by screening workers who are more likely to get sick, even though it might be illegal. I worry it could make it harder for me to get life insurance, disability insurance or long-term care insurance. I’m also concerned my personal genetic data will become more vulnerable to misuse in the future.”


*In 2008, the Genetic Information Nondiscrimination Act (GINA) was passed to protect Americans against discrimination based on their genetic information in reference to health insurance and employment. However, the legislation includes major loopholes and lacks protection for individuals when trying to obtain long-term care, disability or life insurance.</p> -->
		</div>
		<div class="sidebar">
			<div class="sidebar-container" >
				<div class="sidebar-block" id="sticker">
					<div class="sidebar-body">
						<div class="sidebar-content">
							<div class="sidebar-intro">When you are ready to complete this section, please check one of the following boxes:</div>
							<div class="questions">
								<%= form_for @answer_list, url: results_path, method: 'GET' do |f| %>
									<label>
										<div>
											<%= f.radio_button :pros_and_cons, 'yes'%>
											I think the advantages outweigh the disadvantages for me.
										</div>
									</label>
									<hr />
									<label>
										<div>
											<%= f.radio_button :pros_and_cons, 'no'%>
											I think the disadvantages outweigh the advantages for me.
										</div>
									</label>
									<hr />
									<label>
										<div>
											<%= f.radio_button :pros_and_cons, 'unsure'%>
											I'm still not sure about the advantages and disadvantages for me.
										</div>
									</label>										
									<%= f.hidden_field :useful, value: @answer_list.useful %>
									<%= f.hidden_field :family_risks, value: @answer_list.family_risks %>
									<%= f.hidden_field :timing, value: @answer_list.timing %>
							    <%= f.submit "Next" %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>