<% vid_codes = {"Sharon" => "eejiicmg1m", "Mark" => "fu240cdjke", "Mallory" => "1la8ncjki1", "Jennifer" => "diazvcjdw6", "Abby & Carol" => "22i7pt4sav", "Michael & Richard" => "vx5fmfb3mq"} %>
<div id="dialog-message">
	<div class="panel warning-modal">
		<div class="panel-header">Question has not been answered</div>
		<div class="panel-body">
			<p>Please select an answer before continuing.</p>
			<i class="fa fa-close modal-close"></i>
		</div>
	</div>
</div>
<div class="qnav">
	<div class="qnav-questions">
		<div class="qnav-label"> Questions </div>
		<div class="qnav-numbers">
			<ul>
				<li id="family-link" class="progress"><a href="/family_risks">1</a></li>
				<li id="useful-link" class="progress"><a href="/is_the_information_useful">2</a></li>
				<li id="timing-link" class="progress"><a href="/is_the_timing_right">3</a></li>
				<li id="pros-link" class="progress progress-current"><span>4</span></li>
				<li id="my-results" class="my-results"></li>

			</ul>
		</div>

	</div>
</div>
<div class="qnav-inst">
<div class="row">
	<div class="column">
		<div class="panel">
		<div class="qnav-hd panel-header">Instructions:</div>
		<div class="qnav-content panel-body like-list">

			<p>
				First, consider the information below.
				Then, at the end, submit your answer.
			</p>
			<p>You must select an answer to each question to move ahead. Once you move ahead, you can return to an answered question by clicking the numbers above.</p>
		</div>
	</div>
	</div>
</div>
</div>
<div class="proconpage">
	<div class="row">
		<div class="column">
			<h1>
				Will the advantages outweigh the disadvantages?
			</h1>
			<p>Getting your genetic test results may have some advantages and also some disadvantages. Some are personal, others relate to our families, and others involve social interactions beyond our families. <strong>We all have different values, beliefs, needs and circumstances</strong>.</p>
			<p>To think about which factors are most important to you, we have provided stories in video and text so you can learn about other people’s experiences.</p>
			<p>Each story is summarized below. To watch the video, click the links below.</p>
			<p><span class="red">Note:</span> The stories are told by actors, using the words of real people considering whether to have genetic testing.</p>
			<div class="section-pro">
				<img src="assets/pro-sharon.png" />
				<div class="procon-intro">
					<div class="procon-hd">PRO: Personal</div>
					<div class="procon-blurb">It can help me plan for my future</div>
					<div class="play-video"><a href="//fast.wistia.net/embed/iframe/<%= vid_codes["Sharon"] %>?popover=true" class="wistia-popover[height=422,playerColor=7b796a,width=750]">Watch Sharon's Video</a></div>
				</div>
				<p class="quote quote-purple">I could plan. It would prompt me to make plans to do a lot of things through my 50s and 60s, things I might postpone otherwise. I could make sure I had advance directives in place and thought about caregivers. It would make me kind of decide to hunker down and save -- and not count on working as long as I had thought I would work. I could look into any factors that might decrease my risk of Alzheimer’s, for example, perhaps by exercising and trying to eat healthy.</p>
			</div>
			<div class="section-con">
				<img src="assets/con-mallory.png" />
				<div class="procon-intro">
					<div class="procon-hd">CON: Personal </div>
					<div	class="procon-blurb">There is nothing I can do to prevent the disease<span class="red">*</span></div>
					<div class="play-video">
						<a href="//fast.wistia.net/embed/iframe/<%= vid_codes["Mallory"] %>?popover=true" class="wistia-popover[height=422,playerColor=7b796a,width=750]">Watch Mallory's Video</a>
					</div>
				</div>
				<p class="quote quote-blue">I had genetic testing for my breast cancer risk because there was something I could do to lower my risk. The reason I won’t pursue genetic testing for Alzheimer’s, is because there really isn't any treatment or cure for it. Nothing to do to prevent it. The genetic information won’t be helpful to me.</p>
				<p class="caption" style="font-size:1rem;"><span class="red">*</span> Recent studies indicate that one’s risk of late-onset Alzheimer’s can be reduced through lifestyle changes such as improved diet and exercise, engaging in mentally stimulating activities, and dealing with hearing loss in mid-life.</p>
			</div>
			<div class="section-pro">
				<img src="assets/pro-mark.png" />
				<div class="procon-intro">
					<div class="procon-hd">
						PRO: Personal
					</div>
					<div class="procon-blurb">I would be sure to stay up-to-date on new information</div>
					<div class="play-video">
						<a href="//fast.wistia.net/embed/iframe/<%= vid_codes["Mark"] %>?popover=true" class="wistia-popover[height=422,playerColor=7b796a,width=750]">Watch Mark's Video</a>
					</div>
				</div>
				<p class="quote quote-purple">If I were at higher risk, I would get much more serious about things that might help prevent Alzheimer’s. I could get on mailing lists for new information. I would become much more pro-active. I would make sure that I’m aware of diagnostic techniques, aware of preventive measures, aware of things I could change and had control over that would give me better odds for postponing or not getting dementia.</p>
			</div>
			<div class="section-con">
				<img src="assets/con-jennifer.png" />
				<div class="procon-intro">
					<div class="procon-hd">CON: Personal </div>
					<div class="procon-blurb">Knowing I have the gene will make me worry too much</div>
					<div class="play-video">
						<a href="//fast.wistia.net/embed/iframe/<%= vid_codes["Jennifer"] %>?popover=true" class="wistia-popover[height=422,playerColor=7b796a,width=750]">Watch Jennifer's Video</a>
					</div>
				</div>
				<p class="quote quote-blue">Even though having that gene for higher risk doesn’t necessarily mean I’d get Alzheimer’s, I don’t want to spend my life waiting – tick tock, tick tock – for a time bomb to go off. Worrying when is it going to happen? Is it happening if I forget where I put the car keys? No, I’m not going to live that way. I don’t want to become a prisoner of fear.</p>
			</div>
			<div class="section-pro">
				<img src="assets/pro-abby.png" />
				<div class="procon-intro">
					<div class="procon-hd">PRO: Family </div>
					<div class="procon-blurb">It’s important to me to know so I can share this health information with my family</div>
					<div class="play-video">
						<a href="//fast.wistia.net/embed/iframe/<%= vid_codes["Abby & Carol"] %>?popover=true" class="wistia-popover[height=422,playerColor=7b796a,width=750]">Watch Abby & Carol's Video</a>
					</div>
				</div>
				<p class="quote quote-purple">I think getting genetic testing is important so that the rest of my family can think about their health history in a more productive way. I want my children and grandchildren to be informed. I feel like if I can show them there is a genetic basis in our family, they might be more careful with their own health and that’s what’s important to me.</p>
			</div>
			<div class="section-con">
				<div class="procon-intro">
					<img src="assets/con-carol.png" />
					<div class="procon-hd">CON: Family </div>
					<div class="procon-blurb">In some families this kind of information can lead to problems</div>
					<div class="play-video">
						<a href="//fast.wistia.net/embed/iframe/<%= vid_codes["Abby & Carol"] %>?popover=true" class="wistia-popover[height=422,playerColor=7b796a,width=750]">Watch Abby & Carol's Video</a>
					</div>
				</div>
				<p class="quote quote-blue">What troubles me about having genetic testing is what if my sister and I have different results? I mean, what if my sister has the gene that raises her risk -- and I don’t. Could it create a wedge between us? How can I face her and her kids knowing that, somehow, I’ve been spared and she wasn’t? Even if she says it’s okay, I will feel terrible guilt. And I know in some families it leads to jealousy. Genetic testing just isn’t worth it if it alters our relationship.</p>
			</div>
			<div class="section-pro">
				<img src="assets/pro-michael.png" />
				<div class="procon-intro">
					<div class="procon-hd">PRO: Social (Michael)</div>
					<div class="procon-blurb">I could participate in research to help myself and others</div>
					<div class="play-video">
						<a href="//fast.wistia.net/embed/iframe/<%= vid_codes["Michael & Richard"] %>?popover=true" class="wistia-popover[height=422,playerColor=7b796a,width=750]">Watch Michael & Richard's Video</a>
					</div>
				</div>
				<p class="quote quote-purple">Genetic testing would help me become more active in Alzheimer’s research. If I knew I was more likely to get Alzheimer’s, I would get involved in research to help detect it early and find better ways to slow it down. Research could help with making the right diagnosis, finding the right treatments.</p>
			</div>
			<div class="section-con">
				<img src="assets/con-richard.png" />
				<div class="procon-intro">
					<div class="procon-hd">CON: Social (Richard)</div>
					<div class="procon-blurb">Genetic test results might affect my insurance<span class="red">**</span> or medical privacy (even though there are some protections)</div>
					<div class="play-video">
						<a href="//fast.wistia.net/embed/iframe/<%= vid_codes["Michael & Richard"] %>?popover=true" class="wistia-popover[height=422,playerColor=7b796a,width=750]">Watch Michael & Richard's Video</a>
					</div>
				</div>
				<p class="quote quote-blue">I worry that genetic information could be like a red-flag for insurance purposes. Some companies might try to minimize costs by screening workers who are more likely to get sick, even though it might be illegal. I worry it could make it harder for me to get life insurance, disability insurance or long-term care insurance. I’m also concerned my personal genetic data will become more vulnerable to misuse in the future.</p>
				<p class="caption" style="font-size:1rem;"><span class="red">**</span> In 2008, the Genetic Information Nondiscrimination Act (GINA) was passed to protect Americans against discrimination based on their genetic information in reference to health insurance and employment. However, the legislation lacks protection for individuals when trying to obtain long-term care, disability or life insurance.</p>
			</div>
			<p class="further-resources-link">
				To further evaluate advantages and disadvantages of genetic testing <%= link_to "see Resources.", further_resources_path(anchor: "to-evaluate"), target: "blank" %>
			</p>
			<div class="question">
				<div class="question-header">
					Submit Your Answer Below:
				</div>
				<div class="question-body">
					<h1>
						Will the advantages outweigh the disadvantages?
					</h1>
					<form action="<%= results_path %>" method="get">
						<label>
							<%= radio_button_tag( :pros_and_cons, 'yes', checked = false, class: "check-box")%>
							<span>
								I think the advantages outweigh the disadvantages for me.
							</span>
						</label>
						<label>
							<%= radio_button_tag( :pros_and_cons, 'no', checked = false, class: "check-box")%>
							<span>
								I think the disadvantages outweigh the advantages for me.
							</span>
						</label>
						<label>
							<%= radio_button_tag( :pros_and_cons, 'unsure', checked = false, class: "check-box")%>
							<span>
								I'm still not sure about the advantages and disadvantages for me.
							</span>
						</label>
						<div class="button-area"> <a href="<%= results_path %>"><%= button_tag "Next", id: "next-button"%></a> </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
<script type="text/javascript">
	$(function(){

		setTimeout(function() {
			$('#family-link a').effect("highlight",{color: 'PowderBlue'}, 2000)
		}, 200);

		setTimeout(function() {
			$('#useful-link a').effect("highlight",{color: 'PowderBlue'}, 2000)
		}, 400);

		setTimeout(function() {
			$('#timing-link a').effect("highlight",{color: 'PowderBlue'}, 2000);
		}, 600);

		if (localStorage.getItem('pros_and_cons') !== null && localStorage.getItem('pros_and_cons') !== 'null'){
			$('input[name="pros_and_cons"][value=' + localStorage.getItem('pros_and_cons') + ']').prop('checked', 'checked');
			$('#my-results').html('<a href="/results">My Results</a>');
			setTimeout(function() {
				$('#my-results a').effect("highlight",{color: 'PowderBlue'}, 2000);
			}, 1000);
		}

	});
</script>
