<div class="resultspage">
	<div class="row">
		<div class="column">

			<h1>Making your decision - Should you get tested?</h1>

			<div class="instructions summary">
				Below we have included your answers to each question in this decision aid as well as a summary of the main issues related to each question.
			</div>

			<div class="results-item">
				<h2 class="purple">Family Risks?</h3>
				<p>If a member of your immediate family (parents or siblings) has been diagnosed with late-onset Alzheimer’s disease, you may have an increased risk of developing Alzheimer’s disease. In this section you explored your family history.</p>

				<p class="you-answered">You answered: <strong id="family"></strong></p>
			</div>

			<div class="results-item">
				<h2 class="purple">Useful Info?</h3>
				<p>The gene test for late-onset Alzheimer’s disease can reveal an increased risk of getting the disease, but it cannot give you a definitive answer whether you will or won’t develop it. This section discussed how much increased risk you might have if you have inherited one or two copies of the APOE e4 gene. However, many people with the APOE e4 gene will not get Alzheimer’s disease, and people without the gene can develop it.</p>

				<p class="you-answered">You answered: <strong id="useful"></strong></p>
			</div>

			<div class="results-item">
				<h2 class="purple">Is Timing Right?</h3>
				<p>Timing of genetic testing is important. It is best done when things are calm enough in your life so you have time to think it through.</p>

				<p class="you-answered">You answered: <strong id="timing"></strong></p>
			</div>

			<div class="results-item">
				<h2 class="purple">Pros vs Cons?</h2>
				<p>Genetic information has personal, family and societal consequences. In this section we presented stories to explore a number of advantages and disadvantages that might affect your decision whether or not to get gene testing. </p>

				<p class="you-answered">You answered: <strong id="pros"></strong></p>
				
			</div>

				<h2 class="purple">Conclusion</h2>
			<div id="conclusion" class="conclusion">
			</div>
			<div class="print-this-page">
				<button id='print' class="print-button"><a href='#' onclick='window.print();return false;'>Print this page</a></button>
			</div>

			<p class="purple">Thank you for using this online decision tool. <%= link_to "To find a genetic counselor", further_resources_path(anchor: "find-a-counselor"), target: "blank" %> or for additional sources of information to help you with your choice can be found in the <%= link_to "Further Resources", further_resources_path, target: "blank" %> section of this website.</p>
			<a name="question"></a>
			<hr />
			<div class="question">
				<div class="question-header">
					Get Results for Someone Else:
				</div>
				<div class="question-body">
					<h1>
						Is there someone else that wants to consider the 4 questions on this computer? Check the box below to clear all answers and begin again.
					</h1>
					<form action="<%= root_path %>" method="get" id="question_form">
						<label>
							<%= radio_button_tag( :clear_answers, 'concerned', checked = false, class: "check-box")%>
							<span> Clear all my answers and continue back to the beginning.	</span>
						</label>
						<div class="button-area"><a href="<%= root_path %>"><%= button_tag "Begin", id: "next-button"%></a> </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		var family = localStorage.getItem('family_risks');
		var useful = localStorage.getItem('useful');
		var timing = localStorage.getItem('timing');
		var pros = localStorage.getItem('pros_and_cons');

		$('#family').html(family);
		$('#useful').html(useful);
		$('#timing').html(timing);
		$('#pros').html(pros);

		if((family === 'yes' || family === 'unsure' || family === 'concerned') && (useful === 'yes' || useful === 'unsure') && (timing === 'yes' || timing === 'unsure') && (pros === 'yes' || pros === 'unsure')) {
			$('#conclusion').html("Based on your answers, none of the issues considered here indicate barriers to APOE genetic testing. However, factors unique to you and your family also need to be considered. You should discuss these with your doctor, a genetic counselor, or other health-care professional. <span id='print'>This page can be <a href='#' onclick='window.print();return false;'>printed</a> for you to take with you and to use as a basis for further discussions.</span>");
		} else {
			$('#conclusion').html("Based on your answers, concerns exist that are barriers to you for APOE testing. In addition, other factors unique to you and your family need to be considered. You should discuss these with your doctor, a genetic counselor, or other health-care professional. <span id='print'>This page can be <a href='#' onclick='window.print();return false;'>printed</a> for you to take with you and to use as a basis for further discussions.</span>");
		}

		$('#next-button').click(function(){
			localStorage.setItem('family_risks', null);
			localStorage.setItem('useful', null);
			localStorage.setItem('timing', null);
			localStorage.setItem('pros_and_cons', null);
		})

	});
</script>
