<div class="section-header-area">
	<div class="header">
		<div class="header-content">
			<div class="question-number"><span>Question 2</span></div>
			<h1>
				Will the gene test give you useful information?
			</h1>
			<h2>
				Lorem ipsum dolor sit amet lorem ipsum dolor
			</h2>
		</div>
	</div>
</div>
<div class="wrap">
	<div class="content-area">
		<div class="maincol">
			<p>The test for the gene related to Alzheimer&rsquo;s can usually tell you if you are more likely than others to develop Alzheimer&rsquo;s Disease. The test may detect if you have an increased chance of getting the disease, <span class="highlight">but it cannot predict whether you will get the disease</span>&mdash;or whether you won&rsquo;t. In this section we explain the test and what you can learn from it.</p>
			<h3>About Gene Tests</h3>
			<p>In general genetic tests look for variations in genes that, when present, can lead to an illness or raise one&rsquo;s chances of developing an illness. Genetic tests are done on small amounts of saliva or blood or by swabbing the inside of the mouth.</p>
			<h3>Alzheimer&rsquo;s and the APOE Gene</h3>
			<p>Alzheimer&rsquo;s disease can be caused by genes, non-inherited factors, or some combination of both. There is one gene that has been associated with late-onset Alzheimer&rsquo;s disease. It is called the <span class="highlight">Apolipoprotein E</span> gene&mdash;or APOE for short.</p>
			<p>The APOE gene has three forms: e2, e3, and e4. The e4 form is the one which is associated with a higher risk of Alzheimer&rsquo;s disease. The genetic test can tell which form or forms of the gene are present. A person can have zero, one or two e4 genes.</p>
			<p>If you have one copy of the e4 gene, the risk for developing Alzheimer&rsquo;s disease increases and two copies makes the risk higher. Research is ongoing so we don&rsquo;t know the exact increased risk but currently, it is believed to be as follows.</p>
			<h3>Risk of Developing Alzheimer&rsquo;s Disease</h3>
			<p>
				The percentages indicate the chance of having Alzheimer&rsquo;s by ages 65, 75 and 85 based on the number of APOE e4 genes
			</p>
			<p>If the e4 gene is present, a person&rsquo;s risk goes up - but never to 100%.</p>
			<P>It&rsquo;s important to keep in mind that:</P>
			<ul>
				<li>some people who have the e4 gene will not develop Alzheimer&rsquo;s disease.</li>
				<li>some people who do not have the e4 gene will develop Alzheimer&rsquo;s disease.</li>
				<li>Researchers believe there are additional genes associated with Alzheimer&rsquo;s that we have not yet identified.</li>
			</ul>
		</div>
		<div class="sidebar">
			<div class="sidebar-container" >
				<div class="sidebar-block" id="sticker">
					<div class="sidebar-body">
						<div class="sidebar-content">
							<div class="sidebar-intro">Once you feel you understand the value of the information you can get from a gene test for Alzheimer&rsquo;s Disease click the Question Summary link to continue.</div>
							<div class="questions">
								<%= form_for @answer_list, url: timing_path, method: 'GET' do |f| %>
									<label>
										<div>
											<%= f.radio_button :useful, 'yes'%>
											I realize there are limits to what a test will tell me but I think the information will help me.
										</div>
									</label>
									<hr />
									<label>
										<div>
											<%= f.radio_button :useful, 'no'%>
											I don't think the genetic test will give me enough useful information.
										</div>
									</label>
									<hr />
									<label>
										<div>
											<%= f.radio_button :useful, 'unsure'%>
											I'm not sure if a test would be useful or not for me.
										</div>
									</label>										
									<%= f.hidden_field :family_risks, value: @answer_list.family_risks %>
									<%= f.hidden_field :pros_and_cons, value: @answer_list.pros_and_cons %>
									<%= f.hidden_field :timing, value: @answer_list.timing %>
							    <%= f.submit "Next" %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



