<footer class="hide-for-print">
	<ul>
		<li>	<%= link_to "Home", root_path %></li>
		<li>	<%= link_to "About", about_path, target: "blank" %></li>
		<!--
		<li>	<%= link_to "The 4 Questions", family_risks_path %></li>
		<li>	<%= link_to "Making Your Decision", making_your_decision_path %></li>
		<li>	<%= link_to "About This Decision", about_this_decision_path %></li>
		<li>	<%= link_to "Family Risk", family_risks_path %></li> 
		<li>	<%= link_to "Useful Info", useful_path %></li>
		<li>	<%= link_to "Timing", timing_path %></li>
		<li>	<%= link_to "Pros and Cons", pros_and_cons_path %></li>
		-->
		<li>	<%= link_to "Privacy Policy", privacy_policy_path, target: "blank" %></li>
		<li>	<%= link_to "Glossary", glossary_path, target: "blank" %></li>
		<li id="resources">	<%= link_to "Resources", further_resources_path, target: "blank" %></li>
		<li>	<%= link_to "Disclaimer", disclaimer_path, target: "blank" %></li>
		<!--
		<li>	<%= link_to "How To Use This Site", how_to_use_this_website_path %></li>
		-->
		<%= image_tag('vt_partial.png', class: 'vt-logo') %>
	</ul>
	<p>
		© 2013-2025 Virginia Tech Intellectual Properties, Inc. and Breakneck Turtles Productions, all rights reserved. No written, visual or audio materials on this site may be copied or used without the express written permission of the copyright holders. Use of this site does not constitute a license to the rights.
	</p>
</footer>
<p class="hide-for-screen print-footer">
	© 2013-2025 Virginia Tech Intellectual Properties, Inc. and Breakneck Turtles Productions, all rights reserved. No written, visual or audio materials on this site may be copied or used without the express written permission of the copyright holders. Use of this site does not constitute a license to the rights.
</p>