<footer>
	<div class="column column-left">
		<div class="footer-section">
			<div class="footer-section-head">
				<%= link_to "Gene Test Or Not?", home_path %>
			</div>
			<div class="footer-section-link">
				<%= link_to "How To Use This Site", home_path %>
			</div>
			<div class="footer-section-link">
				<%= link_to "Making Your Decision", home_path %>
			</div>
			<div class="footer-section-link">
				<%= link_to "About This Decision", home_path %>
			</div>
		</div>
	</div>
	
	<div class="column column-center">
		<div class="footer-section">
			<div class="footer-section-head">
				<%= link_to "Questions", "" %>
			</div>
			<div class="footer-section-link">
				<%= link_to "Family Risk", family_risks_path %>
			</div>
			<div class="footer-section-link">
				<%= link_to "Useful Info", useful_path %>
			</div>
			<div class="footer-section-link">
				<%= link_to "Timing", timing_path %>
			</div>
			<div class="footer-section-link">
				<%= link_to "Pros and Cons", pros_and_cons_path %>
			</div>
		</div>
	</div>
	
	<div class="column column-right">
		<div class="footer-section">
			<div class="footer-section-head">
				<%= link_to "Additional Info", "" %>
			</div>
			<div class="footer-section-link">
				<%= link_to "Disclaimer", "" %>
			</div>
			<div class="footer-section-link">
				<%= link_to "Privacy Policy", "" %>
			</div>
			<div class="footer-section-link">
				<%= link_to "Glossary", "" %>
			</div>
			<div class="footer-section-link">
				<%= link_to "Further Resources", ""%>
			</div>
		</div>
		<br>
	  <h5>© 2015 Virginia Tech</h5>
	</div>


</footer>