<!DOCTYPE html>
<html>
<head>
  <title>Gene Test Or Not?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="pg-useful">
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
        <div class="logo-text">
          <p class="logo-text-one">
            Gene Test
          </p>
          <p class="logo-text-two">  
            Or Not?
          </p>
        </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%=link_to "Home", landing_path%></li>
        <li><%=link_to "The 4 Questions", info_path%></li>
        <li><%=link_to "Final Summary", disclaimer_path%></li>
        <li><%=link_to "Help", disclaimer_path%></li>
        <li><%=link_to "Other Resources", disclaimer_path%></li>
      </ul>
    </div>
  </nav>
</div>

<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
