<!DOCTYPE html>
<html>
	<head>
		<title>Gene Test Or Not?</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body class="pg-useful">
		<div class="header">
			<nav>
				<div class="menu-is-hidden">
					<div class="trigger">
						<span></span>
						<div class="menu-title">Gene Test or Not</div>
					</div>
					<ul>
						<li><%=link_to "Home", home_path%></li>
						<li><%=link_to "The 4 Questions", family_risks_path%></li>
						<!--
						<li><%=link_to "Final Summary", results_path%></li>
						-->
						<li><%=link_to "About", about_path%></li>
						<li><%=link_to "Other Resources", further_resources_path%></li>
					</ul>
				</div>
			</nav>
			<div class="logo">
				<a href="/"></a>
			</div>
		</div>

		<%= yield %>

		<%= render 'layouts/footer' %>
	</body>
</html>
